@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Abel);

html{ font-size: 62.5%; }

#top-h {
  height: 500px;
  background-image: url("../images/top.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}


.text-center {
    text-align: center;
}
.abel {
    font-family: 'Abel', sans-serif;
}


section
{
    padding: 60px 0;
}
section .container
{
    width: 90%;
}
section h2
{
    font-size: 2.5rem;
}

p
{
    font-size: 1.8rem;
}
.block-center,
section .container
{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}

.abel,
section h2
{
    font-family: 'Abel', sans-serif;
}


#box
{
    background-color: #fff;
    width: 100%;
    background-color: #ffefd5;
}
#box .container
{
    display: -webkit-flex;
    display:         flex;
    justify-content: space-between;

}

.m-box
{
    margin: 0px auto;
    padding: 20px;
}

.m-box1
{
    margin: 0px auto;
    padding: 20px;
    background-color: #808000;
    text-align: center;
}

.m-box2
{
    margin: 0px auto;
    padding: 20px;
    background-color: #fff8dc;
}


#box h2
{
    margin-bottom: 30px;
    color: #808000;
}

#box h3
{
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff8dc;;
}

#contact
{
    background-color: #808000;
    color: #fff8dc;
}

.f-bottom {
    width:200px;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:#808000;
    background-color:#fff8dc;
    border-radius:5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

    
/* ▼表示領域が768ppx未満の場合 */
@media screen and (max-width: 768px) {
    
  #top-h{
    height: 250px;
    background-image: url("../images/top-s.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
  }

#box .container
{
    display: -webkit-flex;
    display:         flex;
    flex-direction: column;

}

.m-box1
{
    margin: 0px auto;
    background-color: #808000;
    text-align: center;
}

.m-box2
{
    margin: 0px auto;
    background-color: #fff8dc;
}


}